/** OpenText Brand Colours ****************************************************/

$ot_black:  #000000;
$ot_white:  #FFFFFF;

$ot_blue:   #2E3D98;
$ot_red:    #D92A32;
$ot_grey:   #7E929F;
$ot_teal:   #00B8BA;
$ot_purple: #4F3690;
$ot_clear:  #09BCEF;
